#letter-blue {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: bold;
  color: blue;
  z-index: 1;
}
#letter-red {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: bold;
  color: red;
  z-index: 1;
}
#canvas {
  display: block;
  margin: auto;
  border: 1px solid black;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: none;
}
#timer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  z-index: 1;
}
#confidence {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  text-align: center;
  display: none;
  z-index: 2;
}
#confidence-buttons {
  text-align: center;
  margin-top: 10px;
}
#confidence-buttons button {
  display: inline-block;
  margin-bottom: 0 10px;
  padding: 5px 10px;
}
#timer-bar-container {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  margin-top: 10px;
}
#timer-bar {
  height: 100%;
  width: 100%;
  background-color: #000000;
  transition: width 1s linear;
}
#timer-bar-container.hidden {
  display: none;
}
